<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0f005d7e73db4d9eb8bc694a33aadbe4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0f005d7e73db4d9eb8bc694a33aadbe4" ></div>
        
</body>
<script>    
    
            var map_0f005d7e73db4d9eb8bc694a33aadbe4 = L.map(
                "map_0f005d7e73db4d9eb8bc694a33aadbe4",
                {
                    center: [-35.0, 144.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);

            

        
    
            var tile_layer_ea4d4852f4e044c18e7b302c646ee6ba = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var marker_a1faf84bf579400c9e7ac2d49ce8e9d2 = L.marker(
                [-36.97858, 146.71938],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_b3f8194e22214e5b91973c309bf11598 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a1faf84bf579400c9e7ac2d49ce8e9d2.setIcon(icon_b3f8194e22214e5b91973c309bf11598);
        
    
            marker_a1faf84bf579400c9e7ac2d49ce8e9d2.bindTooltip(
                `<div>
                     frp: 10717.2<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5bd29fb8d7914888a40fd853633563a0 = L.marker(
                [-35.89541, 136.54585],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_78dd5bc7324d4914b1c4a7fa5057afdf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5bd29fb8d7914888a40fd853633563a0.setIcon(icon_78dd5bc7324d4914b1c4a7fa5057afdf);
        
    
            marker_5bd29fb8d7914888a40fd853633563a0.bindTooltip(
                `<div>
                     frp: 5611.8<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06ca87baa9ec410f9dc1d1ef3d095de1 = L.marker(
                [-35.79238, 136.59878999999998],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_a17c6091c49f41f6b0ce5e4a0493a752 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_06ca87baa9ec410f9dc1d1ef3d095de1.setIcon(icon_a17c6091c49f41f6b0ce5e4a0493a752);
        
    
            marker_06ca87baa9ec410f9dc1d1ef3d095de1.bindTooltip(
                `<div>
                     frp: 4948.8<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f3293279e9f4ad0b759209171dd97a0 = L.marker(
                [-36.7702, 148.00307],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_643d3ca1dd2240ff92959bd9047cbee7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4f3293279e9f4ad0b759209171dd97a0.setIcon(icon_643d3ca1dd2240ff92959bd9047cbee7);
        
    
            marker_4f3293279e9f4ad0b759209171dd97a0.bindTooltip(
                `<div>
                     frp: 4156.6<br/> date: 2020-01-04
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1ca89d229b5445258f9d9c998e2b6c4d = L.marker(
                [-35.897690000000004, 136.55919],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_39586321d7754b32bf6b74fc652bf662 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_1ca89d229b5445258f9d9c998e2b6c4d.setIcon(icon_39586321d7754b32bf6b74fc652bf662);
        
    
            marker_1ca89d229b5445258f9d9c998e2b6c4d.bindTooltip(
                `<div>
                     frp: 3736.3<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dab0de8274c44c54894809dae8aabb14 = L.marker(
                [-35.88688, 137.07683],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_0833d175890b485a8b24c07c29970d8d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_dab0de8274c44c54894809dae8aabb14.setIcon(icon_0833d175890b485a8b24c07c29970d8d);
        
    
            marker_dab0de8274c44c54894809dae8aabb14.bindTooltip(
                `<div>
                     frp: 3501.9<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7631a202aff549fd9e38a3be4a370abf = L.marker(
                [-35.88832, 137.08549],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_b11d3c0a47cf4a09b4410a8da8cad3e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_7631a202aff549fd9e38a3be4a370abf.setIcon(icon_b11d3c0a47cf4a09b4410a8da8cad3e0);
        
    
            marker_7631a202aff549fd9e38a3be4a370abf.bindTooltip(
                `<div>
                     frp: 3497.9<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30f7403a612940e0bdd842eb5c58909b = L.marker(
                [-35.89693, 136.55476000000002],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_133fcd4f37aa4f94811099368506debd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_30f7403a612940e0bdd842eb5c58909b.setIcon(icon_133fcd4f37aa4f94811099368506debd);
        
    
            marker_30f7403a612940e0bdd842eb5c58909b.bindTooltip(
                `<div>
                     frp: 3372.0<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cbeea8792224463cb7fa4b2d118ca5df = L.marker(
                [-35.89618, 136.55032],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_ad031fac438e4bc884c613898da57a11 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_cbeea8792224463cb7fa4b2d118ca5df.setIcon(icon_ad031fac438e4bc884c613898da57a11);
        
    
            marker_cbeea8792224463cb7fa4b2d118ca5df.bindTooltip(
                `<div>
                     frp: 3372.0<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_736745251c7b4b5ebde8af47a00f2731 = L.marker(
                [-35.80969, 136.60056],
                {}
            ).addTo(map_0f005d7e73db4d9eb8bc694a33aadbe4);
        
    
            var icon_0ce5b65476c44541885becfd4941469c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_736745251c7b4b5ebde8af47a00f2731.setIcon(icon_0ce5b65476c44541885becfd4941469c);
        
    
            marker_736745251c7b4b5ebde8af47a00f2731.bindTooltip(
                `<div>
                     frp: 3282.1<br/> date: 2020-01-08
                 </div>`,
                {"sticky": true}
            );
        
</script>